header{
    background-image: url(../immagine1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    
   
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black
    
    
}